(
    понедельник: (
        занятия: [
            (
                тип: "Лабораторная",
                время_начала: "13:30",
                время_окончания: "15:00",
                дисциплина: "Информатика",
                преподаватель: "Малышева Татьяна Алексеевна",
                аудитория: "ауд. 1338, Кронверский пр., д.49, лит.А"
            ),
            (
                тип: "Лабораторная",
                время_начала: "15:30",
                время_окончания: "17:00",
                дисциплина: "Информатика",
                преподаватель: "Малышева Татьяна Алексеевна",
                аудитория: "ауд. 1338, Кронверский пр., д.49, лит.А"
            )
        ]
    ),
    четверг: (
        занятия: [
            (
                тип: "Практика",
                время_начала: "9:50",
                время_окончания: "11:20",
                дисциплина: "Математический анализ",
                преподаватель: "Танченко Юлия Валерьевна",
                аудитория: "Ауд. 1410 Кронверский пр., д.49, лит.А"
            ),
            (
                тип: "Лекция",
                время_начала: "11:30",
                время_окончания: "13:00",
                дисциплина: "Математический анализ",
                преподаватель: "Романова Екатерина Владимировна",
                аудитория: "ауд. 1405, Кронверский пр., д.49, лит.А"
            ),
            (
                тип: "Лекция",
                время_начала: "13:30",
                время_окончания: "15:00",
                дисциплина: "Линейная алгебра",
                преподаватель: "Попов Антон Игоревич",
                аудитория: "ауд. 1405, Кронверский пр., д.49, лит.А"
            ),
            (
                тип: "Практика",
                время_начала: "15:00",
                время_окончания: "17:10",
                дисциплина: "Линейная алгебра",
                преподаватель: "Догадин Егор Витальевич",
                аудитория: "ауд. 2330, Кронверский пр., д.49, лит.А"
            )
        ]
    )
)